<header class="header">
  <div class="container header__container">
    <a class="brand" href="/">
      <h1 class="brand-title">Open Blog</h1>
    </a>
    <nav class="navbar">
      <a class="navbar-link" href="/blog">Home</a>
      <a class="navbar-link" href="/blog/new">New post</a>
    </nav>
  </div>
</header>
