<div class="container">
  <form class="form" method="POST" action="/blog/new">
    <label for="post-title" class="form-control">Title</label>
    <input type="text" class="form-control" name="post-title" id="post-title">

    <label for="post-author" class="form-control">Author</label>
    <input type="text" class="form-control" name="post-author" id="post-author">

    <label for="post-img-url" class="form-control">Image URL</label>
    <input type="text" class="form-control" name="post-img-url" id="post-img-url">

    <label for="post-text" class="form-control">Post Content</label>
    <textarea class="form-control" name="post-text" id="post-text" rows="10" placeholder="Your post ..."></textarea>

    <button class="form-submit" type="submit">Enviar</button>
  </form>
</div>
