<main class="main">
  <div class="container">
    <% if articles.empty? %>
      <p class="notice">There are no articles yet.</p>
    <% end %>
    <% articles.each do |article| %>
      <%= erb(:_article, locals: { article: article }) %>
    <% end %>
  </div>
</main>
